MekWarsServer/server-dist/data/factions.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jon Schattke (Scahttke Computer Services) -->
<!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<!ELEMENT faction-array (FACTION+)>
<!ELEMENT faction (name, money, color, abbreviation, type, logo, baseGunner, basePilot, conquerable, inHouseAttacks, mayUseBM, housePlayerColor, defectTo, defectFrom)>

<!ELEMENT name (#PCDATA)>
<!ELEMENT money (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT abbreviation (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT logo (#PCDATA)>
<!ELEMENT baseGunner (#PCDATA)>
<!ELEMENT basePilot (#PCDATA)>
<!ELEMENT conquerable (#PCDATA)>
<!ELEMENT inHouseAttacks (#PCDATA)>
<!ELEMENT mayUseBM (#PCDATA)>
<!ELEMENT housePlayerColor (#PCDATA)>
<!ELEMENT defectTo (#PCDATA)>
<!ELEMENT defectFrom (#PCDATA)>
