MekWarsServer/server-dist/data/planets.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by McWizard (McW Inc.) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT amount (#PCDATA)>
<!ELEMENT componentProduction(#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT faction (#PCDATA)>
<!ELEMENT factoryName (#PCDATA)>
<!ELEMENT founder (#PCDATA)>
<!ELEMENT inf (faction, amount)>
<!ELEMENT influence (inf)>
<!ELEMENT unitFactory (factoryName, size, founder, timeZone, type*)>
<!ELEMENT planet-array (planet+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT planet (NAME, componentProduction, WAREHOUSE?, unitFactory*, xCoord, yCoord, influence, continent+, description?)>
<!ELEMENT size (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT xCoord (#PCDATA)>
<!ELEMENT yCoord (#PCDATA)>
