MekWarsServer/server-dist/data/terrain.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by FreeUser (FreeUser Inc.) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT algorithm (#PCDATA)>
<!ELEMENT craterMaxNum (#PCDATA)>
<!ELEMENT craterMaxRadius (#PCDATA)>
<!ELEMENT craterMininum (#PCDATA)>
<!ELEMENT craterMinRadius (#PCDATA)>
<!ELEMENT craterProbability (#PCDATA)>
<!ELEMENT environment (StaticMap*, Mapname*, XMap*, YMap*, XBoard*, YBoard*, craterProbability*, craterMininum*, craterMaxNum*, craterMinRadius*, craterMaxRadius*, hillYNESS*, hillElevationRange*, hillInvertProbability*, waterMinSpots*, waterMaxSpots*, waterMinHexes*, waterMaxHexes*, waterDeepProbability*, forestMinSpots*, forestMaxSpots*, forestMinHexes*, forestMaxHexes*, forestHeavyProbability*, roughMinSpots*, roughMaxSpots*, roughMinHexes*, roughMaxHexes*, roadProbability*, cliffProbability*, riverProbability*, algorithm*, swampMinSpots*, swampMaxSpots*, swampMinHexes*, swampMaxHexes*, pavementMinSpots*, pavementMaxSpots*, pavementMinHexes*, pavementMaxHexes*, iceMinSpots*, iceMaxSpots*, iceMinHexes*, iceMaxHexes*, rubbleMinSpots*, rubbleMaxSpots*, rubbleMinHexes*, rubbleMaxHexes*, sandMinSpots*, sandMaxSpots*, sandMinHexes*, sandMaxHexes*, plantedFieldMinSpots*, plantedFieldMaxSpots*, plantedFieldMinHexes*, plantedFieldMaxHexes*, fortifiedMinSpots*, fortifiedMaxSpots*, fortifiedMinHexes*, fortifiedMaxHexes*, cityBlocks*, cityType*, mountPeaks*, mountWidthMin*, mountWidthMax*, mountHeightMin*, mountHeightMax*, mountStyle*, minCF*, MaxCF*, MINFloors*, MaxFloors*, cityDensity**, ProbabilityforestFire*, ProbabilityFreeze*, ProbabilityFlood*, ProbabilityDrought*, Theme?)>
<!ELEMENT environmentProbabilityABILITY (#PCDATA)>
<!ELEMENT forestHeavyProbability (#PCDATA)>
<!ELEMENT forestMaxHexes (#PCDATA)>
<!ELEMENT forestMaxSpots (#PCDATA)>
<!ELEMENT forestMinHexes (#PCDATA)>
<!ELEMENT forestMinSpots (#PCDATA)>
<!ELEMENT hillElevationRange (#PCDATA)>
<!ELEMENT hillInvertProbability (#PCDATA)>
<!ELEMENT hillyness (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT riverProbability (#PCDATA)>
<!ELEMENT roadProbability (#PCDATA)>
<!ELEMENT roughMaxHexes (#PCDATA)>
<!ELEMENT roughMaxSpots (#PCDATA)>
<!ELEMENT roughMinHexes (#PCDATA)>
<!ELEMENT roughMinSpots (#PCDATA)>
<!ELEMENT terrain (name, environment)>
<!ELEMENT waterDeepProbability (#PCDATA)>
<!ELEMENT waterMaxHexes (#PCDATA)>
<!ELEMENT waterMaxSpots (#PCDATA)>
<!ELEMENT waterMinHexes (#PCDATA)>
<!ELEMENT waterMinSpots (#PCDATA)>
<!ELEMENT swampMinSpots (#PCDATA)>
<!ELEMENT swampMaxSpots (#PCDATA)>
<!ELEMENT swampMinHexes (#PCDATA)>
<!ELEMENT swampMaxHexes (#PCDATA)>
<!ELEMENT pavementMinSpots (#PCDATA)>
<!ELEMENT pavementMaxSpots (#PCDATA)>
<!ELEMENT pavementMinHexes (#PCDATA)>
<!ELEMENT pavementMaxHexes (#PCDATA)>
<!ELEMENT iceMinSpots (#PCDATA)>
<!ELEMENT iceMaxSpots (#PCDATA)>
<!ELEMENT iceMinHexes (#PCDATA)>
<!ELEMENT iceMaxHexes (#PCDATA)>
<!ELEMENT rubbleMinSpots (#PCDATA)>
<!ELEMENT rubbleMaxSpots (#PCDATA)>
<!ELEMENT rubbleMinHexes (#PCDATA)>
<!ELEMENT rubbleMaxHexes (#PCDATA)>
<!ELEMENT sandMinSpots (#PCDATA)>
<!ELEMENT sandMaxSpots (#PCDATA)>
<!ELEMENT sandMinHexes (#PCDATA)>
<!ELEMENT sandMaxHexes (#PCDATA)>
<!ELEMENT plantedFieldMinSpots (#PCDATA)>
<!ELEMENT plantedFieldMaxSpots (#PCDATA)>
<!ELEMENT plantedFieldMinHexes (#PCDATA)>
<!ELEMENT plantedFieldMaxHexes (#PCDATA)>
<!ELEMENT fortifiedMinSpots (#PCDATA)>
<!ELEMENT fortifiedMaxSpots (#PCDATA)>
<!ELEMENT fortifiedMinHexes (#PCDATA)>
<!ELEMENT fortifiedMaxHexes (#PCDATA)>
<!ELEMENT cityBlocks (#PCDATA)>
<!ELEMENT cityType (#PCDATA)>
<!ELEMENT MountPeaks (#PCDATA)>
<!ELEMENT MountWidthMIN (#PCDATA)>
<!ELEMENT MountWidthMax (#PCDATA)>
<!ELEMENT MountHeightMIN (#PCDATA)>
<!ELEMENT MountHeightMax (#PCDATA)>
<!ELEMENT MountStyle (#PCDATA)>
<!ELEMENT minCF (#PCDATA)>
<!ELEMENT maxCF (#PCDATA)>
<!ELEMENT minFloors (#PCDATA)>
<!ELEMENT maxFloors (#PCDATA)>
<!ELEMENT cityDensity (#PCDATA)>
<!ELEMENT Theme (#PCDATA)>
<!ELEMENT StaticMap (#PCDATA)>
<!ELEMENT StaticMapName (#PCDATA)>
<!ELEMENT xSize (#PCDATA)>
<!ELEMENT ySize (#PCDATA)>
<!ELEMENT xBoardSize (#PCDATA)>
<!ELEMENT yBoardSize (#PCDATA)>
